body {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: bg-dark;
    font-family: sans-serif;
    color: #fff;
}
.logo {

    font-weight: 700;
    font-size: 24px;
    line-height: 35.57px;
}
.fw-bold {
    font-size: 4.0rem;
}
.mt-5{
    margin-top: 10rem;
}

  .about-img{
    width:300px;
    height:auto;
    position: relative;
  }
  .image-container {
    position: relative;
    width: 500px;
    height: 500px;
  }
  .background {
    width: 150%;
    height: 105%;
  }
  .overlay{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 85%;
    height: 85%;
  }
.my-div{
    width:auto;
    height:auto;
    background-image: url(./image/img\ 2\ bg.png);
    background-repeat: repeat;
}
.footer {
    background-color:bg-dark;
    padding: 20px;
    text-align: center;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}
.footer-links- a i {
    margin-right: 5px;
}
.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255,255,255, o.1);
    color: white;
    font-size: 20px;
}
.social-icons a:hover{
    background: rgba(255,255,255,0.2);
}
.footer-bottom {
    margin-top: 10px;
    font-size: 14px;
}
.footer-bottom a {
    color: white;
    text-decoration: none;
}
